@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<!--JETI KOODI ALKAA-->
<script src="js/site.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<PageTitle>Home</PageTitle>
<style>
#saveDiv {
    display: none;
    width: 300px;
    padding-left: 15px;
    padding-top: 15px;
}
.container-sm{
        max-width: 370px;
}
.container-md{
        max-width: 1000px;
}
#turtle1{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
</style>
<audio id="meowSound" src="sounds/meow.wav"></audio>
<audio id="winsound" src="sounds/winmusic.wav"></audio>
<audio id="mainsound" src="sounds/mainmusic.wav"></audio>
<audio id="deepmeow" src="sounds/wau.wav"></audio>
<audio id="newmeow" src="sounds/meuw.wav"></audio>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-4">
            <button class="btn btn-info" id="saveButton" style="height: 58px;">
                <img id="saveimage" src="images/saves.png">
            </button>
            <p style="margin-bottom: 0px;">@alert</p>
            <div id="saveDiv" class="z-3 position-absolute border border-dark-1 rounded">
                <button id="close" class="btn btn-danger">X</button>
                <button class="btn btn-info" @onclick="NewSave" style="color: rgb(245, 245, 245);">New Save</button>
                <input class="mt-2" type="text" @bind="saveName" placeholder="Name your save" /><br>

                @if (@filut.Count == 0)
                {
                    <p><em>No saves available</em></p>
                }
                else
                {
                    <table style="width: 100px;" class="table table-sm text-center">
                        <thead>
                            <tr>
                                <th colspan="4">Saves</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var saves in filut)
                            {
                                <tr>
                                    <td style="padding-top: 7px;">@saves</td>
                                    <td><button @onclick="() => SaveData(saves)" class="btn-sm btn-primary popup">Save</button></td>
                                    <td><button @onclick="() => LoadData(saves)" class="btn-sm btn-success popup">Load</button></td>
                                    <td><button @onclick="() => DeleteData(saves)" class="btn-sm btn-danger popup">Delete</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
        <div class="col-4 text-center">
            <h1>MEGAMEOWMODE!!!!</h1>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container-sm mx-0 float-end">
    <div class="row justify-content-end">
        <div class="col-12 text-end">
        @if (Mainmusic == false)
        {
        <button class="btn btn-danger" @onclick="PlayMainsound">♪</button>
        }
        @if (Mainmusic == true)
        {
            <button class="btn btn-success" @onclick="StopMainsound">♪</button>
        }
        <button style="margin-left: 5px;" class="btn btn-danger" @onclick="Reset">Reset!</button>
        <button class="btn btn-primary" @onclick="PlayMeow">Meow!</button>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-12 mt-2 text-end">
            @if (Unitycatlevel >= 25 && !unitycatactivate)
            {
                <button @onclick="Powerups">
                </button>
            }
            @if (Unitycatlevel == 0)
            {
                <button class="btn @GetPowerUpButtonClass()" @onclick="unitycat"  disabled="@CanUsePowerUp">
                    <h4><span class="badge">Equip your cat<br>With a bronze crown!</span></h4>
                    <img src="images/copper.png">
                    <h4><span class="badge">@UnityCatCost coins!</span></h4>
                </button>
                <br>
            }

            @if (Unitycatlevel == 1)
            {
                <button class="btn @GetPowerUpButtonClass2()" @onclick="unitycat2" disabled="@CanUsePowerUp2">
                    <h4><span class="badge">Equip your cat<br>With a silver crown!</span></h4>
                    <img src="images/silver.png">
                    <h4><span class="badge">@UnityCatCost2 coins!</span></h4>
                </button>

                <br>
            }

            @if (Unitycatlevel == 2)
            {
                <button class="btn @GetPowerUpButtonClass3()" @onclick="unitycat3" disabled="@CanUsePowerUp3">
                    <h4><span class="badge">Equip your cat<br>With a golden crown!</span></h4>
                    <img src="images/gold.png">
                    <h4><span class="badge">@UnityCatCost3 coins!</span></h4>
                </button>
            }
            @if (Unitycatlevel >= 3)
            {
                <button class="btn btn-danger" @onclick="unitycat3" disabled=true>Multiclick: SOLD OUT!</button>
            }
            @if (Unitycatlevel >= 4)
            {
                <button class="btn btn-danger mt-2" @onclick="unitycat4" disabled=true>Godhood: Achieved</button>
            }

        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-12 mt-2 text-end">
            @if (Level < 1)
            {
                <button class="btn @GetAutoMiningBronze()" @onclick="StartAutoIncrement" disabled="@CanBuyBronze">
                    <h4><span class="badge">Create a helper<br>With... THE EYE!</span></h4>
                    <img src="images/eye.png" height="160" width="160">
                    <h4><span class="badge">@bronzelevel coins!</span></h4>
                </button>

            }
            else if (Level == 1)
            {
                <button class="btn @GetAutoMiningSilver()" @onclick="StartAutoIncrement" disabled="@CanBuySilver">
                    <h4><span class="badge">Equip your pardner<br>With a hat!<br>(and another eye)</span></h4>
                    <img src="images/hat.png" height="160" width="160">
                    <h4><span class="badge">@silverlevel coins!</span></h4>
                </button>
            }
            else if (Level == 2)
            {
                <button class="btn @GetAutoMiningGold()" @onclick="StartAutoIncrement" disabled="@CanBuyGold">
                    <h4><span class="badge">Instill in your helper<br>...FURY!</span></h4>
                    <img src="images/fire.png" height="160" width="160">
                    <h4><span class="badge">@goldlevel coins!</span></h4>
                </button>
            }
            else if (Level >= 3)
            {
                <button class="btn btn-danger" disabled="true">Turtles: SOLD OUT!</button>
            }
        </div>
    </div>
</div>

<!--JETI KOODI LOPPUU-->

<!-- paavon koodi alkaa -->
<!-- Alla oleva koodi on pelissä oleva kissa -nappi. Se toimii javalla
        The code underneath is the cat button. It runs on java-->
<div class="container-md float-end">
    <div class="row justify-content-center">
        <div class="col-4">
            <button id="switchButton" @onclick="IncrementCount" style="height: 189px; width: 306px; border: 0; background-color: transparent;">
            <img id="switchCat" src="images/cat.png">
            <img id="pressedCat" src="images/cat-pressed.png" style="display: none;">
            </button>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row justify-content-center pt-2">
            <div style="width: 210px;" class="col-3 px-0"><h3 style="padding-top: 40px;">Current Helper: </h3><h3>Coins: @Coin</h3></div>
        <div style="width: 150px;" class="col-2 px-0">
            <img id="turtle1" src="images/replace.png" height="150" width="150">
        </div>
        <div class="col-3 px-5">
        @if (Godmodeactive == true)
        {
            <button style="width: 150px; height: 150px;" class="btn @GetPowerUpButtonClass4()" @onclick="unitycat4" disabled="@CanUsePowerUp4">
                <h5>MAKE.<br>YOUR CAT.<br>GOD!<br>@UnityCatCost4 coins :)</h5>
            </button>
        }
        </div>
        <div class="col-1"></div>
    </div>
</div>
    <!-- Tässä alla olevassa koodissa on kissan toiminta, eli kun klikataan kissaa, se hakkaa pöytää.
        The code underneath is how the cat works, so when the cat is clicked it taps the table.-->

<script>
        var clickButton = document.getElementById('switchButton');
        var switchCat = document.getElementById('switchCat');
        var pressedCat = document.getElementById('pressedCat');
        // Tämä koodinpätkä vaikuttaa siihen miltä kissa näyttää. NONE tarkoittaa sitä, että "alkuperäinen" kissa häviää
        //ja "block" tarkoittaa sitä, että kissa jolla on tassu alhaalla tulee näkyviin.
        //this bit of code makes it so the cat with its paw up disappears and displays the cat with the paw down

        clickButton.onmousedown = function () {
            switchCat.style.display = "none";
            pressedCat.style.display = "block";
        }
        //tämä koodinpätkä tekee taas päinvastaisen
        //and this bit of code is the reverse

        clickButton.onmouseup = function () {
            switchCat.style.display = "block";
            pressedCat.style.display = "none";
        }

        //paavon koodi loppuu 

</script>
<script>
    $(document).ready(function () {
        $("#saveButton").click(function () {
            $("#saveDiv").show(1000);
        });

        $("#close").click(function () {
            $("#saveDiv").hide(1000);
        });
    });
</script>
<script>
    window.switchCatImages = () => {
        document.getElementById("switchCat").src = "images/catbronze.png";
        document.getElementById("pressedCat").src = "images/cat-pressedbronze.png";
    }
    window.switchCatImages1 = () => {
        document.getElementById("switchCat").src = "images/catsilver.png";
        document.getElementById("pressedCat").src = "images/cat-pressedsilver.png";
    }
    window.switchCatImages2 = () => {
        document.getElementById("switchCat").src = "images/catgold.png";
        document.getElementById("pressedCat").src = "images/cat-pressedgold.png";
    }
    window.switchCatImages3 = () => {
        document.getElementById("switchCat").src = "images/god.png";
        document.getElementById("pressedCat").src = "images/god-pressed.png";
    }
    window.switchTurtle = () => {
        document.getElementById("turtle1").src = "images/turtle1.png";
    }
    window.switchTurtle1 = () => {
        document.getElementById("turtle1").src = "images/turtle2.png";
    }
    window.switchTurtle2 = () => {
        document.getElementById("turtle1").src = "images/turtle4.png";
    }
</script>

@code {

    bool Mainmusic = false;
    bool Godmodeactive = true;
    bool CanUsePowerUp => Coin <= UnityCatCost - 1;
    bool CanUsePowerUp2 => Coin <= UnityCatCost2 - 1;
    bool CanUsePowerUp3 => Coin <= UnityCatCost3 - 1;
    bool CanUsePowerUp4 => Coin <= UnityCatCost4 - 1;

    bool CanBuyBronze => Coin <= bronzelevel - 1;
    bool CanBuySilver => Coin <= silverlevel - 1;
    bool CanBuyGold => Coin <= goldlevel - 1;
    // auto incres
    private bool autoIncrement = false;

    //auto score cost
    private int bronzelevel = 15;
    private int silverlevel = 40;
    private int goldlevel = 120;
    private int Level = 0;
    private int autoclick = 0;

    // double for COINS //
    private double Coin = 0;

    // double for clicks //
    private double Click = 1;

    // Here are all of the upgrade costs //
    private double UnityCatCost = 10;
    private double UnityCatCost2 = 20;
    private double UnityCatCost3 = 30;
    private double UnityCatCost4 = 500;

    //-----------------------------------------//
    // Here are all the Upgrade levels //
    private int Unitycatlevel = 0;

    // this bool is for the 2x clicks power up, so the button will disapear when clicked/bought ones //
    private bool unitycatactivate = false;

    // Simple int for the click multiplier //
    private int clickMultiplier = 1;

    private bool IcanAffordUnitycat = true;

    // Method for how many clicks u get from single click //
    private void IncrementCount()
    {
        Coin += Click * clickMultiplier;
    }

    protected async Task OnAfterRenderAsync(int iscat)
    {
        if (Unitycatlevel == 1 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages");
        }
        else if (Unitycatlevel == 2 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages1");
        }
        else if (Unitycatlevel == 3 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages2");
        }
        else if (Unitycatlevel > 3 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages3");
        }

        if (Level == 1 && iscat == 0)
        {
            await JSRuntime.InvokeVoidAsync("switchTurtle");
        }
        else if (Level == 2 && iscat == 0)
        {
            await JSRuntime.InvokeVoidAsync("switchTurtle1");
        }
        else if (Level > 2 && iscat == 0)
        {
            await JSRuntime.InvokeVoidAsync("switchTurtle2");
        }
    }

    // method for the Unity cat upgrade. //
    private void unitycat()
    {
        if (Coin >= UnityCatCost)
        {
            Coin -= UnityCatCost;
            Unitycatlevel++;
            OnAfterRenderAsync(1);
            UnityCatCost = Math.Round((UnityCatCost * 1.2));
            Click = 2;
            PlayMeow();
        }
    }
    private void unitycat2()
    {
        if (Coin >= UnityCatCost2)
        {
            Coin -= UnityCatCost2;
            Unitycatlevel++;
            OnAfterRenderAsync(1);
            UnityCatCost2 = Math.Round((UnityCatCost2 * 1.2));
            Click = 5;
            PlayMeuw();
        }
    }
    private void unitycat3()
    {
        if (Coin >= UnityCatCost3)
        {
            Coin -= UnityCatCost3;
            Unitycatlevel++;
            OnAfterRenderAsync(1);
            UnityCatCost3 = Math.Round((UnityCatCost3 * 1.2));
            Click = 8;
            PlayMeuw();
        }
    }
    private void unitycat4()
    {
        if (Coin >= UnityCatCost4)
        {
            Coin -= UnityCatCost4;
            Unitycatlevel++;
            OnAfterRenderAsync(1);
            StopMainsound();
            PlayWinsound();
            Godmodeactive = false;
            Click = 15;
            PlayWau();
        }
    }


    // Method for the 2x power up //
    private void Powerups()
    {
        if (Coin >= 10000)
        {
            // here the click multiplier is changed to 2 so it will always give u 2x coins //
            clickMultiplier = 2;
            // this is for the powerup button to disapear when bought //
            unitycatactivate = true;
        }
        else
        {
        }
    }

    //Method for auto add coins
    private async Task StartAutoIncrement()
    {
        if (Coin >= bronzelevel && Level < 1)
        {
            autoIncrement = true;
            Level += 1;
            OnAfterRenderAsync(0);
            Coin -= bronzelevel;
            autoclick = 1;
            while (autoIncrement)
            {
                Coin += autoclick; // Increment the count
                StateHasChanged(); // Refresh the UI
                await Task.Delay(1000); // Wait for 1 second asynchronously
            }
        }
        if (Coin >= silverlevel && Level == 1)
        {
            Coin -= silverlevel;
            autoIncrement = true;
            Level += 1;
            OnAfterRenderAsync(0);
            autoclick = 3;
        }
        else if (Coin >= goldlevel && Level == 2)
        {
            Coin -= goldlevel;
            autoIncrement = true;
            Level += 1;
            OnAfterRenderAsync(0);
            autoclick = 10;
        }
    }
    private void StopAutoIncrement()
    {
        autoIncrement = false; // Stop auto increment
    }
    private string GetAutoMiningBronze()
    {
        return CanBuyBronze ? "btn-danger" : "btn-success";
    }
    private string GetAutoMiningSilver()
    {
        return CanBuySilver ? "btn-danger" : "btn-success";
    }
    private string GetAutoMiningGold()
    {
        return CanBuyGold ? "btn-danger" : "btn-success";
    }

    private string GetPowerUpButtonClass()
    {
        return CanUsePowerUp ? "btn-danger" : "btn-success";
    }
    private string GetPowerUpButtonClass2()
    {
        return CanUsePowerUp2 ? "btn-danger" : "btn-success";
    }
    private string GetPowerUpButtonClass3()
    {
        return CanUsePowerUp3 ? "btn-danger" : "btn-success";
    }
    private string GetPowerUpButtonClass4()
    {
        return CanUsePowerUp4 ? "btn-danger" : "btn-success";
    }
    private async Task PlayMeow()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "meowSound");
    }
    private async Task PlayWau()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "deepmeow");
    }
    private async Task PlayMeuw()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "newmeow");
    }
    private async Task PlayWinsound()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "winsound");
    }
    private async Task PlayMainsound()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "mainsound", 0.1);
        Mainmusic = true;
    }
    private async Task StopMainsound()
    {
        await JSRuntime.InvokeVoidAsync("stopSound", "mainsound");
        Mainmusic = false;
    }


    //JETI KOODI ALKU
    string? saveName;
    public string? alert = "";
    List<string> filut = new List<string>();

    public class Data
    {
        public double Coin { get; set; }

        public Data(double coin)
        {
            Coin = coin;
        }
    }
    public string savePath = Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot{Path.DirectorySeparatorChar}",
    $"data{Path.DirectorySeparatorChar}");

    protected override async Task OnInitializedAsync()
    {
        LoadCoins();
        LoadAlert();
        SomeStartupMethod();
    }

    public void SomeStartupMethod()
    {
        string[] jsonContent = Directory.GetFiles(savePath);
        foreach (var files in jsonContent)
        {
            filut.Add(Path.GetFileName(files));
        }
    }
    public void NewSave()
    {
        string savePath = Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot{Path.DirectorySeparatorChar}",
        $"data{Path.DirectorySeparatorChar}");
        string newDir = Path.Combine(savePath, $"{saveName}.json");
        var data = new Data(Coin);
        if (NameCheck(newDir))
        {
            if (WriteJson(newDir, data))
            {
                filut.Add(saveName + ".json");
                alert = "Game saved!";
            }
        }
        else
        {
            alert = "This file already exists!";
        }
    }

    public void SaveData(string fileName)
    {
        string targetSave = Path.Combine(savePath, fileName);
        var data = new Data(Coin);
        alert = "Game saved!";
        SaveCoins();
        SaveAlert();
        WriteJson(targetSave, data);
    }

    public void LoadData(string fileName)
    {
        string targetSave = Path.Combine(savePath, fileName);
        string saveContent = File.ReadAllText(targetSave);
        Data saveData = JsonSerializer.Deserialize<Data>(saveContent);
        Coin = saveData.Coin;
        alert = "Game Loaded!";
        SaveCoins();
        SaveAlert();
        StateHasChanged();
    }
    public void DeleteData(string fileName)
    {
        string targetSave = Path.Combine(savePath, fileName);
        alert = "Save Deleted!";
        SaveCoins();
        SaveAlert();
        File.Delete(targetSave);
        StateHasChanged();
    }

    private async Task Reset()
    {
        Coin = 0;
        Level = 0;
        Unitycatlevel = 0;
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "coin", Coin.ToString());
        StateHasChanged();
    }
    private async Task SaveCoins()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "coin", Coin.ToString());
    }
    private async Task LoadCoins()
    {
        var coinValue = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "coin");
        if (double.TryParse(coinValue, out double parsedValue))
        {
            Coin = parsedValue;
        }
    }
    private async Task SaveAlert()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "alert", alert);
        StateHasChanged();
    }
    private async Task LoadAlert()
    {
        var alertValue = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "alert");
        alert = alertValue;
        StateHasChanged();
    }

    public bool NameCheck(string userDir)
    {
        if (File.Exists(userDir))
        {
            return false;
        }
        else
        {
            return true;
        }
    }
    private bool WriteJson(string thisDir, Data data)
    {
        string jsonString = JsonSerializer.Serialize(data);
        File.WriteAllText(thisDir, jsonString);
        return true;
    }
    //JETI KOODI LOPPU
}
