@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<!--JETI KOODI ALKAA-->
<script src="js/site.js"></script>
<style>
    #saveDiv {
        display: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<PageTitle>Home</PageTitle>
<div class="m-4">
    <button class="btn btn-info" id="saveButton" style="height: 58px;"><img id="saveimage"
            src="images/saves.png"></button>
    <p>@alert</p>
</div>

<div id="saveDiv">
    <button id="close" class="btn btn-danger">X</button>
    <button class="btn btn-info" @onclick="NewSave" style="color: rgb(245, 245, 245);">New Save</button>
    <input type="text" @bind="saveName" placeholder="Name your save" /><br>

    @if (@filut.Count == 0)
    {
        <p><em>No saves available</em></p>
    }
    else
    {
        <table style="width: 100px;" class="table table-sm text-center">
            <thead>
                <tr>
                    <th colspan="4">Saves</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var saves in filut)
                {
                    <tr>
                        <td style="padding-top: 7px;">@saves</td>
                        <td><button @onclick="() => SaveData(saves)" class="btn-sm btn-primary popup">Save</button></td>
                        <td><button @onclick="() => LoadData(saves)" class="btn-sm btn-success popup">Load</button></td>
                        <td><button @onclick="() => DeleteData(saves)" class="btn-sm btn-danger popup">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@if (Mainmusic == false)
{
<button class="btn btn-danger" @onclick="PlayMainsound">♪</button>
}
@if (Mainmusic == true)
{
    <button class="btn btn-success" @onclick="StopMainsound">♪</button>
}

<script>
    $(document).ready(function () {
        $("#saveButton").click(function () {
            $("#saveDiv").show(1000);
        });

        $("#close").click(function () {
            $("#saveDiv").hide(1000);
        });
    });
</script>

<audio id="meowSound" src="sounds/meow.wav"></audio>
<audio id="winsound" src="sounds/winmusic.wav"></audio>
<audio id="mainsound" src="sounds/mainmusic.wav"></audio>

<button class="btn btn-primary" @onclick="PlayMeow">Play Meow</button>

<!--JETI KOODI LOPPUU-->

<!-- paavon koodi alkaa -->

<h1>MEGAMEOWMODE!!!!</h1>

<!-- Alla oleva koodi on pelissä oleva kissa -nappi. Se toimii javalla
        The code underneath is the cat button. It runs on java-->
<div>
    <button id="switchButton" @onclick="IncrementCount" style="border: 0; background-color: transparent;">
        <img id="switchCat" src="images/cat.png">
        <img id="pressedCat" src="images/cat-pressed.png" style="display: none;">
    </button>
    <div>
        <img id="turtle1" src="images/replace.png" height="54" width="54">

    </div>
    <!-- Tässä alla olevassa koodissa on kissan toiminta, eli kun klikataan kissaa, se hakkaa pöytää.
        The code underneath is how the cat works, so when the cat is clicked it taps the table.-->
    <script>
        var clickButton = document.getElementById('switchButton');
        var switchCat = document.getElementById('switchCat');
        var pressedCat = document.getElementById('pressedCat');
        // Tämä koodinpätkä vaikuttaa siihen miltä kissa näyttää. NONE tarkoittaa sitä, että "alkuperäinen" kissa häviää
        //ja "block" tarkoittaa sitä, että kissa jolla on tassu alhaalla tulee näkyviin.
        //this bit of code makes it so the cat with its paw up disappears and displays the cat with the paw down

        clickButton.onmousedown = function () {
            switchCat.style.display = "none";
            pressedCat.style.display = "block";
        }
        //tämä koodinpätkä tekee taas päinvastaisen
        //and this bit of code is the reverse

        clickButton.onmouseup = function () {
            switchCat.style.display = "block";
            pressedCat.style.display = "none";
        }

        //paavon koodi loppuu 

    </script>
    <div>
        @if (Godmodeactive == true)
        {
            <button class="btn @GetPowerUpButtonClass4()" @onclick="unitycat4" disabled="@CanUsePowerUp4">
                <p>Unlock</p>
                <p>godmode.</p>
            </button>
        }

    </div>

    <h2>Coins: @Coin</h2>
    <h2>Total coins: @totalCoin</h2>
</div>

<div class="button-container">
    @if (unitycatlevel >= 25 && !unitycatactivate)
    {
        <button @onclick="Powerups">
        </button>
    }
    @if (unitycatlevel == 0)
    {
        <button class="btn @GetPowerUpButtonClass()" @onclick="unitycat" disabled="@CanUsePowerUp">
            <img src="images/copper.png">
        </button>
        <br>
    }

    @if (unitycatlevel == 1)
    {
        <button class="btn @GetPowerUpButtonClass2()" @onclick="unitycat2" disabled="@CanUsePowerUp2">
            <img src="images/silver.png">
        </button>

        <br>
    }

    @if (unitycatlevel == 2)
    {
        <button class="btn @GetPowerUpButtonClass3()" @onclick="unitycat3" disabled="@CanUsePowerUp3">
            <img src="images/gold.png">
        </button>
    }
    @if (unitycatlevel >= 3)
    {
        <button class="btn btn-danger" @onclick="unitycat3" disabled=true>Multiclick: SOLD OUT!</button>
    }
    @if (unitycatlevel >= 4)
    {
        <button class="btn btn-danger" @onclick="unitycat4" disabled=true>Godmode</button>
    }

</div>


<div class="button-container2">
    @if (level < 1)
    {
        <button class="btn @GetAutoMiningBronze()" @onclick="StartAutoIncrement" disabled="@CanBuyBronze">
            <img src="images/eye.png" height="160" width="160">
        </button>

    }
    else if (level == 1)
    {
        <button class="btn @GetAutoMiningSilver()" @onclick="StartAutoIncrement" disabled="@CanBuySilver">
            <img src="images/hat.png" height="160" width="160">
        </button>
    }
    else if (level == 2)
    {
        <button class="btn @GetAutoMiningGold()" @onclick="StartAutoIncrement" disabled="@CanBuyGold">
            <img src="images/fire.png" height="160" width="160">
        </button>
    }
    else if (level >= 3)
    {
        <button class="btn btn-danger" disabled="true">Turtles: SOLD OUT!</button>
    }
</div>

<script>
    window.switchCatImages = () => {
        document.getElementById("switchCat").src = "images/catbronze.png";
        document.getElementById("pressedCat").src = "images/cat-pressedbronze.png";
    }
    window.switchCatImages1 = () => {
        document.getElementById("switchCat").src = "images/catsilver.png";
        document.getElementById("pressedCat").src = "images/cat-pressedsilver.png";
    }
    window.switchCatImages2 = () => {
        document.getElementById("switchCat").src = "images/catgold.png";
        document.getElementById("pressedCat").src = "images/cat-pressedgold.png";
    }
    window.switchCatImages3 = () => {
        document.getElementById("switchCat").src = "images/god.png";
        document.getElementById("pressedCat").src = "images/god-pressed.png";
    }
    window.switchTurtle = () => {
        document.getElementById("turtle1").src = "images/turtle1.png";
    }
    window.switchTurtle1 = () => {
        document.getElementById("turtle1").src = "images/turtle2.png";
    }
    window.switchTurtle2 = () => {
        document.getElementById("turtle1").src = "images/turtle3.png";
    }





</script>



@code {

    bool Mainmusic = false;
    bool Godmodeactive = true;
    bool CanUsePowerUp => Coin <= UnityCatCost - 1;
    bool CanUsePowerUp2 => Coin <= UnityCatCost2 - 1;
    bool CanUsePowerUp3 => Coin <= UnityCatCost3 - 1;
    bool CanUsePowerUp4 => Coin <= UnityCatCost4 - 1;

    bool CanBuyBronze => Coin <= bronzelevel - 1;
    bool CanBuySilver => Coin <= silverlevel - 1;
    bool CanBuyGold => Coin <= goldlevel - 1;
    // auto incres
    private bool autoIncrement = false;

    //auto score cost
    private int bronzelevel = 15;
    private int silverlevel = 40;
    private int goldlevel = 120;
    private int level = 0;
    private int autoclick = 0;

    // double for COINS //
    private double Coin = 0;

    public double totalCoin = 0;

    // double for clicks //
    private double Click = 1;

    // Here are all of the upgrade costs //
    private double UnityCatCost = 10;
    private double UnityCatCost2 = 20;
    private double UnityCatCost3 = 30;
    private double UnityCatCost4 = 500;

    //-----------------------------------------//
    // Here are all the Upgrade levels //
    private int unitycatlevel = 0;

    // this bool is for the 2x clicks power up, so the button will disapear when clicked/bought ones //
    private bool unitycatactivate = false;

    // Simple int for the click multiplier //
    private int clickMultiplier = 1;

    private bool IcanAffordUnitycat = true;

    // Method for how many clicks u get from single click //
    private void IncrementCount()
    {
        Coin += Click * clickMultiplier;
        totalCoin += Click * clickMultiplier;
    }

    protected async Task OnAfterRenderAsync(int iscat)
    {
        if (unitycatlevel == 1 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages");
        }
        else if (unitycatlevel == 2 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages1");
        }
        else if (unitycatlevel == 3 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages2");
        }
        else if (unitycatlevel > 3 && iscat == 1)
        {
            await JSRuntime.InvokeVoidAsync("switchCatImages3");
        }

        if (level == 1 && iscat == 0)
        {
            await JSRuntime.InvokeVoidAsync("switchTurtle");
        }
        else if (level == 2 && iscat == 0)
        {
            await JSRuntime.InvokeVoidAsync("switchTurtle1");
        }
        else if (level > 2 && iscat == 0)
        {
            await JSRuntime.InvokeVoidAsync("switchTurtle2");
        }
    }

    // method for the Unity cat upgrade. //
    private void unitycat()
    {
        if (Coin >= UnityCatCost)
        {
            Coin -= UnityCatCost;
            unitycatlevel++;
            OnAfterRenderAsync(1);
            UnityCatCost = Math.Round((UnityCatCost * 1.2));
            Click = 2;
        }
    }
    private void unitycat2()
    {
        if (Coin >= UnityCatCost2)
        {
            Coin -= UnityCatCost2;
            unitycatlevel++;
            OnAfterRenderAsync(1);
            UnityCatCost2 = Math.Round((UnityCatCost2 * 1.2));
            Click = 5;
        }
    }
    private void unitycat3()
    {
        if (Coin >= UnityCatCost3)
        {
            Coin -= UnityCatCost3;
            unitycatlevel++;
            OnAfterRenderAsync(1);
            UnityCatCost3 = Math.Round((UnityCatCost3 * 1.2));
            Click = 8;
        }
    }
    private void unitycat4()
    {
        if (Coin >= UnityCatCost4)
        {
            Coin -= UnityCatCost4;
            unitycatlevel++;
            OnAfterRenderAsync(1);
            StopMainsound();
            PlayWinsound();
            Godmodeactive = false;
            Click = 15;
        }
    }


    // Method for the 2x power up //
    private void Powerups()
    {
        if (Coin >= 10000)
        {
            // here the click multiplier is changed to 2 so it will always give u 2x coins //
            clickMultiplier = 2;
            // this is for the powerup button to disapear when bought //
            unitycatactivate = true;
        }
        else
        {
        }
    }

    //Method for auto add coins
    private async Task StartAutoIncrement()
    {
        if (Coin >= bronzelevel && level < 1)
        {
            autoIncrement = true;
            level += 1;
            OnAfterRenderAsync(0);
            Coin -= bronzelevel;
            autoclick = 1;
            while (autoIncrement)
            {
                Coin += autoclick; // Increment the count
                totalCoin += autoclick;
                StateHasChanged(); // Refresh the UI
                await Task.Delay(1000); // Wait for 1 second asynchronously
            }
        }
        if (Coin >= silverlevel && level == 1)
        {
            Coin -= silverlevel;
            autoIncrement = true;
            level += 1;
            OnAfterRenderAsync(0);
            autoclick = 3;
        }
        else if (Coin >= goldlevel && level == 2)
        {
            Coin -= goldlevel;
            autoIncrement = true;
            level += 1;
            OnAfterRenderAsync(0);
            autoclick = 10;
        }
    }
    private void StopAutoIncrement()
    {
        autoIncrement = false; // Stop auto increment
    }
    private string GetAutoMiningBronze()
    {
        return CanBuyBronze ? "btn-danger" : "btn-success";
    }
    private string GetAutoMiningSilver()
    {
        return CanBuySilver ? "btn-danger" : "btn-success";
    }
    private string GetAutoMiningGold()
    {
        return CanBuyGold ? "btn-danger" : "btn-success";
    }

    private string GetPowerUpButtonClass()
    {
        return CanUsePowerUp ? "btn-danger" : "btn-success";
    }
    private string GetPowerUpButtonClass2()
    {
        return CanUsePowerUp2 ? "btn-danger" : "btn-success";
    }
    private string GetPowerUpButtonClass3()
    {
        return CanUsePowerUp3 ? "btn-danger" : "btn-success";
    }
    private string GetPowerUpButtonClass4()
    {
        return CanUsePowerUp4 ? "btn-danger" : "btn-success";
    }
    private async Task PlayMeow()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "meowSound");
    }
        private async Task PlayWinsound()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "winsound");
    }
        private async Task PlayMainsound()
    {
        await JSRuntime.InvokeVoidAsync("playSound", "mainsound");
        Mainmusic = true;
    }
    private async Task StopMainsound()
    {
        await JSRuntime.InvokeVoidAsync("stopSound", "mainsound");
        Mainmusic = false;
    }


    //JETI KOODI ALKU
    string? saveName;
    public string? alert = "";
    List<string> filut = new List<string>();

    public class Data
    {
        public double totalCoin { get; set; }
        public string Name { get; set; }

        public Data(double totalcoin, string name)
        {
            totalCoin = totalcoin;
            Name = name;
        }
    }
    public string savePath = Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot{Path.DirectorySeparatorChar}",
    $"data{Path.DirectorySeparatorChar}");

    protected override async Task OnInitializedAsync()
    {
        LoadCoins();
        LoadAlert();
        SomeStartupMethod();
    }

    public void SomeStartupMethod()
    {
        string[] jsonContent = Directory.GetFiles(savePath);
        foreach (var files in jsonContent)
        {
            filut.Add(Path.GetFileName(files));
        }
    }
    public void NewSave()
    {
        string savePath = Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot{Path.DirectorySeparatorChar}",
        $"data{Path.DirectorySeparatorChar}");
        string newDir = Path.Combine(savePath, $"{saveName}.json");
        var data = new Data(totalCoin, saveName);
        if (NameCheck(newDir))
        {
            if (WriteJson(newDir, data))
            {
                filut.Add(saveName + ".json");
                alert = "Game saved!";
            }
        }
        else
        {
            alert = "This file already exists!";
        }
    }

    public void SaveData(string fileName)
    {
        string targetSave = Path.Combine(savePath, fileName);
        var data = new Data(totalCoin, saveName);
        alert = "Game saved!";
        SaveCoins();
        SaveAlert();
        WriteJson(targetSave, data);
    }

    public void LoadData(string fileName)
    {
        string targetSave = Path.Combine(savePath, fileName);
        string saveContent = File.ReadAllText(targetSave);
        Data saveData = JsonSerializer.Deserialize<Data>(saveContent);
        Coin = saveData.totalCoin;
        alert = "Game Loaded!";
        SaveCoins();
        SaveAlert();
        StateHasChanged();
    }
    public void DeleteData(string fileName)
    {
        string targetSave = Path.Combine(savePath, fileName);
        alert = "Save Deleted!";
        SaveCoins();
        SaveAlert();
        File.Delete(targetSave);
        StateHasChanged();
    }

    private async Task Reset()
    {
        totalCoin = 0;
        Coin = 0;
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "totalcoin", totalCoin.ToString());
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "coin", Coin.ToString());
        StateHasChanged();
    }
    private async Task SaveCoins()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "totalcoin", totalCoin.ToString());
    }
    private async Task LoadCoins()
    {
        var coinValue = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "totalcoin");
        if (double.TryParse(coinValue, out double parsedValue))
        {
            Coin = parsedValue;
        }
    }
    private async Task SaveAlert()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "alert", alert);
        StateHasChanged();
    }
    private async Task LoadAlert()
    {
        var alertValue = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "alert");
        alert = alertValue;
        StateHasChanged();
    }

    public bool NameCheck(string userDir)
    {
        if (File.Exists(userDir))
        {
            return false;
        }
        else
        {
            return true;
        }
    }
    private bool WriteJson(string thisDir, Data data)
    {
        string jsonString = JsonSerializer.Serialize(data);
        File.WriteAllText(thisDir, jsonString);
        return true;
    }
    //JETI KOODI LOPPU
}
